body{
	color:#555;
	background:#ddd;
	margin:0;
	padding:0;
}

h1{
	color:#00a89b;
	font-size:45px;
	text-align: center;
	margin: 0 0 55px 0;
	margin:0;
	padding:0;
}

img{
	margin:0;
	padding: 0;
}

p{
	color:#00a89b;
	font-family:'MyriadProRegular';
	font-size:22px;
	text-align: center;
	line-height: 30px;
	margin:0;
	padding:0;
}
.error{
	min-width:1024px;
	margin:0 auto;
	background:linear-gradient(to top, #dcffff, #72ffff);
	padding:10px;
}




.up{width:1024px; margin:0 auto;}
.ercenter{width:635px; height:225px; background:#fff; margin:0 auto; padding: 20px 10px 20px 10px; border-radius: 80px; margin-top:162px;}
.yak{margin:0 auto; width:1024px; margin-bottom: -60px;}
.yak a{text-decoration: none; font-size: 20px; color:#63ced6; font-weight: 600; float: left; margin-top: 20px; margin-left: 60px; margin-right: 10px;}
.bottom{min-width:1024px; margin:0 auto; background:linear-gradient(to top, #fcf5a3, #95e694); padding:10px;}
.down{width:1024px; height:215px; margin:0 auto;}
.yak{margin-left:180px;}
.yak a{font-weight:100;font-size:15px;}


.error .up .ercenter {width:600px;}
.error .up .ercenter h1{font-family:'MyriadProBold';font-size:68px;text-transform: none}
.error .up .ercenter p{margin-top:20px; font-size:21px;}
.error .up .ercenter img{margin-left:120px;}

.error .yak img{margin-top:50px; margin-left: -60px;}